.icon-burger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
  &__line {
    display: block;
    height: 3px;
    background-color: #fff;
    transition: all 0.2s;
  }
  &:hover {
    cursor: pointer;
    .icon-burger__line {
      &:nth-child(1) {
        transform: translateY(9px) rotate(45deg);
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(3) {
        transform: translateY(-9px) rotate(-45deg);
      }
    }
  }
}
